// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #8c6638;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$twt-blue: #b5783c;
$twt-lblue: #d6822f;
$twt-dblue: #8c6638;
$twt-black: #14171A;
$twt-lblack: #120d06;
$twt-gray: #E6ECF0;
$twt-dgray: #657786;
$twt-lgray: #AAB8C2;
$twt-elgray: #F5F8FA;
$twt-cgray: #E7EBF0;
$twt-red: #D92027;
$twt-lred: #D67D80;
